/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
    .phone-info {
        text-align: center;
    }

    .logo {
        margin: auto;
    }

    .navigation__list {
        flex-direction: column;
        align-items: center;
    }

    .navigation__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}